@import "tailwindcss";

:root {

  /* Background Colors */
  --background-design: #3B875C;
  --background-research: #812418;
  --background-writing: #2C3559;
  --background-photos: #B79A1A;
  --background-grey-1: #A9A9A9;

  /* Default (Mobile, <640px) padding */
  --page-pl: 3rem;
  /* pl-4 */
  --page-pt: 8rem;
  /* pt-6 */
  --page-pr: 3.5rem;
  /* pr-6 */
  --page-pb: 12rem;
  /* pb-16 */

  /* Grid-Column */
  --grid-columns: repeat(2, 1fr);
}

/* Tablet, md (768px+) */
@media (min-width: 768px) {
  :root {
    --page-pl: 1.5rem;
    /* pl-6 */
    --page-pt: 3rem;
    /* pt-9 */
    --page-pr: 4.5rem;
    /* pr-12 */
    --page-pb: 6rem;
    /* pb-24 */

    /* Grid-Column */
    --grid-columns: repeat(6, 1fr);
  }
}

/* Desktop, lg (1024px+) */
@media (min-width: 1024px) {
  :root {
    --page-pl: 2rem;
    /* pl-10 */
    --page-pt: 4rem;
    /* pt-12 */
    --page-pr: 6rem;
    /* pr-16 */
    --page-pb: 8rem;
    /* pb-32 */

    /* Grid-Column */
    --grid-columns: repeat(6, 1fr);
  }
}

/* Desktop, xl (1280px+) */
@media (min-width: 1280px) {
  :root {
    --page-pl: 5rem;
    /* pl-10 */
    --page-pt: 7.5rem;
    /* pt-12 */
    --page-pr: 10rem;
    /* pr-16 */
    --page-pb: 25rem;
    /* pb-32 */

    /* Grid-Column */
    --grid-columns: repeat(8, 1fr);
  }
}

/* Desktop, 2xl (1536px+) */
@media (min-width: 2560px) {
  :root {
    --page-pl: 10rem;
    /* pl-10 */
    --page-pt: 15rem;
    /* pt-12 */
    --page-pr: 20rem;
    /* pr-16 */
    --page-pb: 80rem;
    /* pb-32 */

    /* Grid-Column */
    --grid-columns: repeat(16, 1fr);
  }
}



/* ------------------------- */
/* Reusable page padding class */
.responsive-padding-1 {
  padding-left: var(--page-pl);
  padding-top: var(--page-pt);
  padding-right: var(--page-pr);
  padding-bottom: var(--page-pb);
}

/* Global responsive asymmetric padding */
.responsive-padding-2 {
  /* Base unit in px */
  --base-unit: clamp(40px, 2vw, 160px);

  padding-left: calc(var(--base-unit) * 1);
  /* pl */
  padding-top: calc(var(--base-unit) * 1.5);
  /* pt */
  padding-right: calc(var(--base-unit) * 2);
  /* pr */
  padding-bottom: calc(var(--base-unit) * 4);
  /* pb */
  box-sizing: border-box;
}



/* ------------------------- */
.grid-system {
  display: grid;
  grid-template-columns: var(--grid-columns);
  /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
  column-gap: 24px;
  row-gap: 30px;
  grid-auto-rows: 130px;
}



/* ------------------------- */
@font-face {
  font-family: "MyFont-BAG";
  src: url("../../public/fonts/Berthold-Akzidenz-Grotesk/AkzidenzGroteskBE-Md.woff2") format("woff2"),
    url("../../public/fonts/Berthold-Akzidenz-Grotesk/AkzidenzGroteskBE-Md.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.page-title-font {
  font-family: "MyFont-BAG", 'Times New Roman', Times, serif, Helvetica, Inter, Arial, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* ------------------------- */
@keyframes draw-reveal {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}